* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(60, 60, 60);
}

h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
}
h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}
p {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    background: #f1cdb3;
    border-radius: 100px;
    border: none;
    font-family: 'Georgia';
    letter-spacing: 0.06em;
    font-size: 17px;
}
.button--outline {
    background: none;
    border: 2px solid #f1cdb3;
    padding: 14px 43px;
}
.button--small {
    padding: 10px 15px;
    border-radius: 9px;
    flex-direction: row;
    font-size: 20px;
    color: #545454;
}
.button__icon {
    margin-right: 15px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__title {
    font-size: 32px;
    color: #f1cdb3;
    letter-spacing: 0.06em;
    font-family: 'Georgia';
    margin-bottom: 10px;
}
.logo__text {
    font-size: 13px;
    color: white;
    letter-spacing: 0.1em;
    font-family: 'Arial';
}

.navigation {
    color: #cdcdcd;
}
.navigation__list {
    display: flex;
    list-style-type: none;
}
.navigation__item {
    margin-left: 35px;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
}
.navigation__item--active {
    border-bottom: 3px solid #f1cdb3;
    color: #fafafa;
}

.startScreen {
    height: 908px;
    background: url(./assets/start-screen-full.jpg);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 40px 0 40px;
    overflow: hidden;
}

.startScreen__content {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.startScreen__text {
    margin-top: 163px;
    margin-right: 42px;
    width: 460px;
    height: min-content;
}
.startScreen__text p {
    color: #cdcdcd;
    margin-top: 42px;
    margin-bottom: 44px;
    width: 460px;
}

.aboutScreen {
    height: 588px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.aboutScreen__content {
    margin-top: 82px;
    display: flex;
    align-items: center;
}
.aboutScreen__text {
    width: 430px;
    margin-left: 120px;
}
.aboutScreen__title {
    color: #545454;
    width: 370px;
}
.aboutScreen__text p {
    color: #4c4c4c;
    margin-top: 27px;
}

.petsScreen {
    height: 877px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.petsScreen__content {
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.petsScreen__title {
    color: #545454;
    text-align: center;
    margin-bottom: 70px;
}
.petsScreen__cards h4 {
    font-family: 'Georgia';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 36px 0 30px;
}
.petsScreen__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 58px;
    margin-right: 58px;
    gap: 85px;
}
.petsScreen__arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 19px;
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}
.arrow--rotate {
    transform: rotate(180deg);
}
.petsScreen__slider {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fafafa;
    padding: 23px 38px;
    border-radius: 9px;
    width: 270px;
}

.helpScreen {
    height: 611px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.helpScreen__title {
    color: #545454;
    width: 400px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 31px;
}
.helpScreen__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.smallCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px 60px;
    margin-bottom: 0px;
}
.smallCard h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 34px;
}

.donationScreen {
    height: 462px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.donationScreen__content {
    margin-top: 82px;
    display: flex;
    align-items: center;
}
.donationScreen__text {
    width: 380px;
    margin-left: 30px;
}
.donationScreen__title {
    color: #545454;
    width: 370px;
    margin-bottom: 18px;
}
.donationScreen__text p {
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.06em;
    color: #4c4c4c;
    margin-bottom: 16px;
}
.donationScreen__text .addInfo {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    margin-top: 20px;
    margin-bottom: 0;
}

.footer {
    height: 350px;
    background: white;
    display: flex;
    padding: 60px 40px;
    justify-content: start;
    align-items: flex-start;
    position: relative;
    background: url(./assets/footer.png);
}
.footer__title {
    color: #ffffff;
}
.footer__text {
    display: flex;
    align-items: center;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
}
.footer__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 160px;
    height: 232px;
}
.footer__icon {
    margin-right: 18px;
}
.footer_dog {
    position: absolute;
    bottom: 0;
    right: 40px;
}
