.about {
    background-color: $color-light-xl;

    h3 {
        color: $color-dark-l;
        margin-bottom: 25px;

        @include for-size(sm) {
            text-align: center;
            font-size: 25px;
        }
    }

    p {
        color: $color-dark-xl;
        max-width: 430px;
        margin-bottom: 25px;

        // margin-bottom: 250px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 80px 40px;
        padding: 80px 4vw;

        .image {
            // margin-right: 80px;
            margin-right: 5%;
        }

        @include for-size(sm) {
            padding: 42px 4vw;
        }

        @include for-size(md) {
            flex-direction: column;
            align-items: center;

            .image {
                order: 2;
                margin-top: 42px;
                margin-right: 0;
            }
        }
    }
}