.donat {
    background-color: $color-light-l;

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 80px 40px;
        padding: 80px 4vw;

        @include for-size(sm) {
            padding: 42px 4vw;
        }

        @include for-size(md) {
            flex-direction: column;
        }

        .image {
            margin-right: 3vw;

            img {
                width: 100%;
            }

            @include for-size(lg) {
                flex-shrink: 7;
            }

            @include for-size(md) {
                order: 100;
                margin-top: 42px;
                margin-right: 0;
            }
        }

        h3 {
            color: $color-dark-l;
            margin-bottom: 20px;

            @include for-size(sm) {
                text-align: center;
            }
        }

        h5 {
            color: $color-dark-l;

            @include for-size(sm) {
                text-align: center;
            }
        }

        a {
            margin: 20px 0;

            @media screen and (max-width: 395px) {
                font-size: 15px;
            }

            @include for-size(sm) {
                width: 100%;
            }
        }

        p {
            @include font-alt;
            font-style: italic;
            // font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $color-dark-m;
            max-width: 380px;
        }
    }
}